.dropdown-menu-content,
.dropdown-menu-sub-content {
  background-color: var(--dark-3);
  box-shadow: var(--shadow);
}

.dropdown-menu-content,
.dropdown-menu-item {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--lightGray);
  user-select: none;
  padding: var(--p-8);
}

.dropdown-menu-item:hover {
  background-color: var(--dark-2);
}

.dropdown-menu-arrow {
  fill: var(--dark-3);
}

.dropdown-menu-sub-trigger {
  display: flex;
  cursor: initial !important;
}

.right-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--m-8);
}
