:root {
  --m-4: 0.25rem;
  --m-8: 0.5rem;
  --m-16: 1rem;
  --m-24: 1.5rem;
  --m-32: 2rem;
  --m-40: 2.5rem;
  --m-48: 3rem;

  --p-4: 0.25rem;
  --p-8: 0.5rem;
  --p-16: 1rem;
  --p-24: 1.5rem;
  --p-32: 2rem;
  --p-40: 2.5rem;
  --p-48: 3rem;
}
