:root {
  --m-4: 0.25rem;
  --m-8: 0.5rem;
  --m-10: 0.625rem;
  --m-12: 0.75rem;
  --m-16: 1rem;
  --m-20: 1.25rem;
  --m-24: 1.5rem;
  --m-32: 2rem;
  --m-40: 2.5rem;
  --m-48: 3rem;

  --p-4: 0.25rem;
  --p-8: 0.5rem;
  --p-10: 0.625rem;
  --p-12: 0.75rem;
  --p-16: 1rem;
  --p-20: 1.25rem;
  --p-24: 1.5rem;
  --p-32: 2rem;
  --p-40: 2.5rem;
  --p-48: 3rem;

  --g-2: 0.125rem;
  --g-4: 0.25rem;
  --g-8: 0.5rem;
  --g-12: 0.625rem;
  --g-16: 1rem;
  --g-20: 1.25rem;
  --g-24: 1.5rem;
  --g-28: 1.75rem;
  --g-32: 2rem;
}
